html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html,
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    color: #191648;
    background: #494747;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 24px;
    overflow-y: scroll;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body :focus {
    outline: none;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.button {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    background: #192431;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.button:focus {
    outline: none;
}


/*reset inputs*/

input,
select,
option,
textarea {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
}

input,
select,
textarea,
button {
    -webkit-tap-highlight-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    background: transparent;
    border: 1px solid #dadbdb;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

textarea {
    resize: none;
    width: 100%;
    background: transparent;
}

textarea:focus {
    outline: none;
}

.form__error {
    display: none;
    color: #ff0000;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: #191648;
    -webkit-tap-highlight-color: transparent;
}

a:focus {
    outline: none;
}

a img {
    border: none;
    outline: none;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}


/* common styles start */

.page-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.full-width {
    max-width: 1920px;
    margin: 0 auto;
}

.restrict-width {
    max-width: 1366px;
    margin: 0 auto;
}

.medium-width {
    max-width: 1100px;
    margin: 0 auto;
}

.main-wrapper {
    position: relative;
    height: 100vh;
    background-image: url(../images/bgimg.png);
    background-size: cover;
    overflow: hidden;
}

.ios-wrapper {
    margin-top: -137px;
}

.padding-lr {
    padding: 0 40px;
}

.mr-left-0 {
    margin-left: 0 !important;
}

.mr-right-0 {
    margin-right: 0 !important;
}

.pad-left-0 {
    padding-left: 0 !important;
}

.pad-right-0 {
    padding-right: 0 !important;
}

.verticalM {
    display: inline-block;
    vertical-align: middle;
}

.verticalT {
    display: inline-block;
    vertical-align: top;
}

.my-show {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.m-d-hide {
    display: block !important;
    opacity: 1;
}

.m-d-show {
    display: none !important;
    opacity: 0;
}

.m-hide {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1;
}

.m-show {
    display: none !important;
    opacity: 0;
}

.mob-show {
    display: none;
    opacity: 0;
}

.verticalB {
    display: inline-block;
    vertical-align: bottom;
}

.d-show {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-hide {
    display: none !important;
}

.hide {
    display: none !important;
}

.show {
    display: inline-block !important;
}

.v-hidden {
    visibility: hidden !important;
}

.v-show {
    visibility: visibility !important;
}


/* custom checkbox styles start */

.checkbox-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
}

.checkbox-block {
    margin-bottom: 20px;
    width: 250px;
}

.checkbox-block span {
    display: inherit;
    padding-left: 26px;
    color: #929ba5;
    font-size: 14px;
}

.checkbox-label {
    color: #504b4a;
    font-size: 16px;
}

input[type="checkbox"] {
    width: inherit;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.6em;
    cursor: pointer;
    line-height: 14px;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: url("../images/checkbox-1.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: url("../images/checkbox-2.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    transition: all 0.2s;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* custom checkbox styles end */


/* common styles end */

.dots-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    background-image: radial-gradient(#fff 1px, transparent 1px);
    background-size: 40px 40px;
}

.website__content-section {
    position: relative;
    z-index: 3;
    padding: 40px;
    height: 100vh;
    background-repeat: no-repeat;
}

.website__logo {
    width: 150px;
}

.website__cookie-animation.cookie1 {
    position: absolute;
    top: 50%;
    left: 0%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.website__cookie-animation.cookie1.active {
    display: block;
    -webkit-animation: left 3s ease-in;
    animation: left 3s ease-in;
    left: 50%;
}

.website__cookie-animation.cookie1.remove-cookie-animaion {
    -webkit-animation: middleRight 4s ease-in !important;
    animation: middleRight 4s ease-in !important;
    left: 120%;
}

.website__cookie-animation.cookie2 {
    position: absolute;
    top: 10%;
    left: -10%;
    -webkit-transform: translate(-45%, 30%);
    transform: translate(-45%, 30%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.website__cookie-animation.cookie2.active {
    -webkit-animation: left10 7s ease-in;
    animation: left10 7s ease-in;
}

.website__cookie-animation.cookie3 {
    position: absolute;
    bottom: -30%;
    right: 0%;
    -webkit-transform: translate(35%, 20%);
    transform: translate(35%, 20%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.website__cookie-animation.cookie3.active {
    -webkit-animation: rightBottom 7s ease-in;
    animation: rightBottom 7s ease-in;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.website__cookie-animation.cookie4 {
    position: absolute;
    top: 0%;
    right: 0%;
    -webkit-transform: translate(40%, -125%);
    transform: translate(40%, -125%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.website__cookie-animation.cookie4.active {
    -webkit-animation: topRight 7s ease-in;
    animation: topRight 7s ease-in;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

.website__cookie-animation::after,
.website__cookie-animation::before {
    content: '';
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #fff;
    left: -150px;
    right: -150px;
    top: -150px;
    bottom: -150px;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: puls 4s linear infinite;
    animation: puls 4s linear infinite;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.website__cookie-animation::before {
    -webkit-animation: puls1 4s linear infinite;
    animation: puls1 4s linear infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -150px;
    right: -150px;
    top: -150px;
    bottom: -150px;
}

.website__cookie-logo {
    width: 150px;
    height: 150px;
    -webkit-animation: roate360 10s linear infinite;
    animation: roate360 10s linear infinite;
}

.cookies-block.hide {
    display: none;
}

.cookies__button {
    text-align: center;
    padding: 10px 50px;
    max-width: 350px;
    color: #fff;
    background: rgba(17, 217, 231, 0.479);
    font-size: 30px;
    cursor: pointer;
    margin: 10px auto;
    border-radius: 30px;
}

.thank__section {
    display: none;
}

.thank__section.hide {
    display: none;
}

.thank__section.show {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.thank__section .network__img {
    width: 35%;
    margin: 0 auto;
}

.thank__section .cookie__title {
    display: block;
    position: initial;
}

.payful__block {
    display: none;
}

.payful__block.hide {
    display: none;
}

.payful__block.show {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.cookie__title {
    position: absolute;
    bottom: -50px;
    color: #fff;
    font-size: 30px;
    line-height: 1.3;
    text-transform: uppercase;
    width: 100%;
    top: 0;
    min-height: 80px;
    text-align: center;
}

.cookie__title.insidebox {
    padding-right: 80px;
    top: 65%;
}

.cookie__title .slideInLeft {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.cookie__title .slideInRight {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}

@-webkit-keyframes roate360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes roate360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes puls {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        opacity: 0;
    }
}

@keyframes puls {
    0% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
        opacity: 0;
    }
}

@-webkit-keyframes puls1 {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes puls1 {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@-webkit-keyframes left {
    0% {
        left: -10%;
    }
    100% {
        left: 50%;
    }
}

@keyframes left {
    0% {
        left: -10%;
    }
    100% {
        left: 50%;
    }
}

@-webkit-keyframes left10 {
    0% {
        -webkit-transform: translate(-45%, 30%);
        transform: translate(-45%, 30%);
    }
    50% {
        -webkit-transform: translate(20%, 30%);
        transform: translate(20%, 30%);
    }
    100% {
        -webkit-transform: translate(-45%, 30%);
        transform: translate(-45%, 30%);
    }
}

@keyframes left10 {
    0% {
        -webkit-transform: translate(-45%, 30%);
        transform: translate(-45%, 30%);
    }
    50% {
        -webkit-transform: translate(20%, 30%);
        transform: translate(20%, 30%);
    }
    100% {
        -webkit-transform: translate(-45%, 30%);
        transform: translate(-45%, 30%);
    }
}

@-webkit-keyframes rightBottom {
    0% {
        -webkit-transform: translate(35%, 18%);
        transform: translate(35%, 18%);
    }
    50% {
        -webkit-transform: translate(35%, -40%);
        transform: translate(35%, -40%);
    }
    100% {
        -webkit-transform: translate(35%, 18%);
        transform: translate(35%, 18%);
    }
}

@keyframes rightBottom {
    0% {
        -webkit-transform: translate(35%, 18%);
        transform: translate(35%, 18%);
    }
    50% {
        -webkit-transform: translate(35%, -40%);
        transform: translate(35%, -40%);
    }
    100% {
        -webkit-transform: translate(35%, 18%);
        transform: translate(35%, 18%);
    }
}

@-webkit-keyframes topRight {
    0% {
        -webkit-transform: translate(40%, -125%);
        transform: translate(40%, -125%);
    }
    50% {
        -webkit-transform: translate(40%, -40%);
        transform: translate(40%, -40%);
    }
    100% {
        -webkit-transform: translate(40%, -125%);
        transform: translate(40%, -125%);
    }
}

@keyframes topRight {
    0% {
        -webkit-transform: translate(40%, -125%);
        transform: translate(40%, -125%);
    }
    50% {
        -webkit-transform: translate(40%, -40%);
        transform: translate(40%, -40%);
    }
    100% {
        -webkit-transform: translate(40%, -125%);
        transform: translate(40%, -125%);
    }
}

@-webkit-keyframes middleRight {
    0% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}

@keyframes middleRight {
    0% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}

@-webkit-keyframes leftSideTextAni {
    0% {
        left: -10%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

@keyframes leftSideTextAni {
    0% {
        left: -10%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

@-webkit-keyframes rightSideTextAni {
    0% {
        right: -10%;
        opacity: 1;
    }
    100% {
        right: 50%;
        opacity: 1;
    }
}

@keyframes rightSideTextAni {
    0% {
        right: -10%;
        opacity: 1;
    }
    100% {
        right: 50%;
        opacity: 1;
    }
}


/*# sourceMappingURL=maps/main.css.map */